.reviews {
    padding: 5rem 1.5rem;
    max-width: 70rem;

    @media screen and (min-width: $xlarge) {
        padding: 5rem 3rem;
    }
}

.reviews__intro {
    text-align: center;

    @media screen and (min-width: $xlarge) {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
}

.reviews__header {

    @media screen and (min-width: $xlarge) {
        flex-basis: 50%;
        max-width: 28rem;
        text-align: left;
    }
}

.reviews__headline {
    padding-bottom: 1.25rem;
    font-size: 2rem;
    font-weight: $bold;
    line-height: 2rem;
    color: $intro-heading;
    letter-spacing: -0.075rem;

    @media screen and (min-width: $xlarge) {
        padding-bottom: 0.5rem;
        font-size: 3rem;
        line-height: 3rem;
    }
}

.reviews__tagline {
    padding-bottom: 2.5rem;
    font-size: 0.9375rem;
    font-weight: $medium;
    line-height: 1.75rem;
    color: $intro-tagline;
    letter-spacing: -0.5px;
}

.reviews__ratings {
    margin-bottom: 3rem;

    @media screen and (min-width: $xlarge) {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0 1rem 1rem;
    }
}

.reviews__ratings__item {
    padding: 1rem 0;
    border-radius: 0.5rem;
    background: $rating-background;

    &:not(:last-of-type) {
        margin-bottom: 1rem;
    }

    @media screen and (min-width: $xlarge) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 27.75rem;
        padding: 1.25rem;

        &:first-of-type {
            align-self: flex-start;
        }

        &:last-of-type {
            align-self: flex-end;
        }
    }
}

.reviews__ratings__stars {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    @media screen and (min-width: $xlarge) {
        margin-bottom: 0;
        margin-right: 2rem;
    }
}

.reviews__ratings__stars__icon {
    display: inline-block;
    margin: 0 0.25rem;
}

.reviews__ratings__text {
    font-size: 0.8125rem;
    font-weight: $bold;
    line-height: 0.9375rem;
    color: $rating-font;

    @media screen and (min-width: $xlarge) {
        line-height: 1rem;
    }
}

.reviews__container {
    @media screen and (min-width: $xlarge) {
        display: flex;
    }
}

.reviews__item {
    padding: 2.5rem 2rem 2rem;
    background: $card-background;
    border-radius: 0.5rem;

    &:not(:last-of-type) {
        margin-bottom: 1rem;
    }
}

.reviews__item__intro {
    display: flex;
    padding-bottom: 1.75rem;
}

.reviews__author__img {
    display: block;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1.5rem;
    border-radius: 50%;
}

.reviews__author {

}

.reviews__name {
    padding: 0.25rem 0;
    font-size: 0.875rem;
    color: $card-text;
    line-height: 1rem;
}

.reviews__buyer {
    font-size: 0.875rem;
    line-height: 0.9375rem;
    color: $buyer;
}

.reviews__text {
    font-size: 0.875rem;
    font-weight: $medium;
    line-height: 1.375rem;
    color: $card-text;
}