// fonts
$font: 'Spartan', sans-serif;
$regular: 400;
$medium: 500;
$bold: 700;


// colors
$page-background: #fff;

$intro-text: hsl(300, 43%, 22%);
$intro-text-light: hsl(303, 10%, 53%);

$rating-background: hsl(300, 24%, 96%);

$card-background: hsl(300, 43%, 22%);
$buyer: hsl(333, 80%, 67%);
$card-text: #fff;


