// fonts
$font: 'Spartan', sans-serif;
$regular: 400;
$medium: 500;
$bold: 700;


// colors
$page-background: #fff;

$intro-heading: hsl(300, 43%, 22%);
$intro-tagline: hsl(303, 10%, 53%);

$rating-background: hsl(300, 24%, 96%);
$rating-font: hsl(300, 43%, 22%);

$card-background: hsl(300, 43%, 22%);
$buyer: hsl(333, 80%, 67%);
$card-text: #fff;

//widths
$large: 64rem;
$xlarge: 90rem;
